@keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.lds-css{
    margin: auto;
}

.lds-double-ring {
    position: relative;
}

.lds-double-ring div {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #1c1e22 transparent #1c1e22 transparent;
    -webkit-animation: lds-double-ring 0.7s linear infinite;
    animation: lds-double-ring 0.7s linear infinite;
}

.lds-double-ring div:nth-child(2) {
    width: 140px;
    height: 140px;
    top: 30px;
    left: 30px;
    border-color: transparent #ffe300 transparent #ffe300;
    -webkit-animation: lds-double-ring_reverse 0.7s linear infinite;
    animation: lds-double-ring_reverse 0.7s linear infinite;
}

.lds-double-ring {
    width: 52px !important;
    height: 52px !important;
    -webkit-transform: translate(-26px, -26px) scale(0.26) translate(26px, 26px);
    transform: translate(-26px, -26px) scale(0.26) translate(26px, 26px);
}