.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.nav-link {
    font-size: 20px !important;
}


.nav-link.active {
    color: #ffe300 !important;
}

.navbar-brand {
    font-size: 25px;
}

.wrap-random-planet, .short-details {
    border-radius: 5px;
}

.radius-img {
    border-radius: 5px;
}

.list-group-item-action.active {
    background: #222 !important;
    border-color: #444;
}


.short-details-info{
    width: 100%;
}

.list-info li {
    position: relative;
    padding: 5px 10px;
}


.list-info li:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background: #505050;
    top: 0;
    left: 0;
}


.error-indicator {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.error-indicator .boom {
    font-size: 25px;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
