.ItemList
  .list-group
    a
      border: none
      background: #272b30
      border-top: 1px solid #505050
      border-bottom: 1px solid #505050
      transition: .5s ease
      &:hover
        background: #1c1e22



